*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

ul{
    list-style-type: none;
}

h2{
    padding-bottom: 1%;
}

main{
    display: flex;
    flex-direction: column;
}

@media screen and (width >= 80rem) {
    main{
        flex-direction: row;
    }
}

.profile-pic{
    max-width: 90%; 
    min-height: 90%; 
    align-items: center; 
    border-radius: 100%;
}

.cv-header-and-contacts{
    a{
        text-decoration: none;
        color: black
    }
    background-color: #00ffff;
}

.cv-body{
    a{
        text-decoration: none;
        color: cyan
    }
    background-color: black;
    color: white;
}



.cv-header{
    text-align: center;
}

.cv-his-and-los{
    
    .cv-his-and-los-element{
        padding-bottom: 1%;
    }
}

.cv-body{
    padding-left: 1%;
}

.cv-resume{
    padding-bottom: 1%;
}

.cv-skills{
    padding-bottom: 1%;
}

.cv-weaknesses{
    padding-bottom: 1%;
}

.cv-education{
    padding-bottom: 1%;
}

.cv-experiences{
    h3{
        padding-bottom: 1%;
    }
    .cv-experiences-element{
        padding-bottom: 1%;
    }
}
